<!DOCTYPE html>
<html>
  <head>
    <title>DataPhi</title>

<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">

  </head>
  <body>
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>name</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>age</th>
                <th>phone</th>
                <th>birthdate</th>
                <th>gender</th>
                <th>Text</th>
            </tr>
        </thead>
      
    </table>
  </body>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"> </script>
<script src="js/my.js">



</script>
</html>
